@{
    ViewData["Title"] = "Rover Simulation";
}

<div class="flex-column justify-content-start">
    <h2 class="display-4 text-center">Simulate Rover</h2>
    <label for="plateau-x" class="form-label">Pleateau Upper Bounds</label>

    <div class="input-group">
        <input type="number" class="form-control" placeholder="0" aria-label="X" />
        <span class="input-group-text">,</span>
        <input type="number" class="form-control" placeholder="0" aria-label="Y" />
    </div>
    <div class="form-text" id="plateau-info">Plateau starts at 0,0. Set the Upper Bounds.</div>

</div>
